<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dawsonlpx3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo_9"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo_9"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        tools:replace="android:icon"
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <!--<activity android:name=".CanceledActivity" />-->
        <!--<activity android:name=".ShowCancelActivity" />-->
        <!--<activity android:name=".FindTeacherActivity" />-->
        <!--<activity android:name=".ChooseTeacherActivity" />-->
        <!--<activity android:name=".TeacherContactActivity" />-->
        <!--<activity android:name=".NotesFragment" />-->
        <!--<activity android:name=".ItemNoteFragment" />-->
        <!--<activity android:name=".WeatherActivity" />-->
        <!--<activity android:name=".AcedemicCalendarActivity"></activity>-->
    </application>

</manifest>